<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <container>

    <register type="Egress.Aplicacion.AEgress.Interfaces.DTO.ILogin, Egress.Aplicacion.AEgress" mapTo="Egress.Aplicacion.AEgress.Servicios.DTO.LoginServices, Egress.Aplicacion.AEgress">
      <lifetime type="singleton"></lifetime>
    </register>


    <!--<extension type="Oronet.Aplicacion.AOronet.Servicios.DTO.UnityOronet, Oronet.Aplicacion.AOronet" />-->

  </container>




</unity>