<div class="row col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="row col-xl-12 align-items-end">

        <img src="~/Content/images/login/frase.svg" style="height: 60% !important;" />
    </div>
</div>

<div class="row col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12 align-items-center ml-2 difuminado"  >
    <div class="row col-xl-12 p-0 m-0 justify-content-center">
        <div class="row col-xl-12 justify-content-center">

            <img src="~/Content/images/login/logo.svg" />
        </div>

        <div class="col-xl-10 mb-5">
            <input type="text" name="TxtUsuario" id="TxtUsuario" value="" class="inputColor" placeholder="Usuario" />

        </div>
        <div class="row col-xl-10 justify-content-center">

            <label class="color-purpura"> Ó Registrarte </label>
        </div>

        <div class="row col-xl-10 justify-content-center mt-3 p-0">

            <div class="col-xl-6">
                <input type="text" name="TxtNombre" id="TxtNombre" value="" class="inputColor" placeholder="Nombres" />
            </div>
            <div class="col-xl-6">
                <input type="text" name="TxtApellido" id="TxtApellido" value="" class="inputColor" placeholder="Apellidos" />
            </div>
        </div>
        <div class="col-xl-10 mt-3">
            <input type="text" name="TxtCorreo" id="TxtCorreo" value="" class="inputColor" placeholder="Correo" />

        </div>
        <div class="col-xl-10 mt-3">
            <input type="text" name="TxtUsuarioRegistro" id="TxtUsuarioRegistro" value="" class="inputColor" placeholder="Usuario" />

        </div>
        <div class="col-xl-10 mt-3">
            <input type="text" name="TxtPassword" id="TxtPassword" value="" class="inputColor" placeholder="Contraseña" />

        </div>

        <div class="row col-xl-10 justify-content-center mt-5">

            <input type="button" class="btnStyle" value="Continuar" />
        </div>

    </div>



</div>