@*<p class="login-box-msg">Sign in to start your session</p>*@

<div class="input-group mb-3">
    <input type="text" class="form-control" id="UserLogin" onkeyup="Login.ValidarTexto('Va');" placeholder="Usuario">
    <div class="input-group-append">
        <div class="input-group-text">
            <span class="fa fa-user-circle"></span>
        </div>
    </div>
</div>

<div class="row justify-content-center">

    <div class="col-4">
        <label class="color-purpura"> Ó Registrate </label>
    </div>
    <!-- /.col -->
</div>

<div class="row justify-content-center">

    <div class="input-group col-6  mb-3">
        <input type="text" class="form-control" id="TxtNombres" onkeyup="Login.ValidarTexto('Re');" placeholder="Nombres">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-user"></span>
            </div>
        </div>
    </div>
    <div class="input-group col-6 mb-3">
        <input type="text" class="form-control" id="TxtApellidos" onkeyup="Login.ValidarTexto('Re');" placeholder="Apellidos">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class=" fas fa-user"></span>
            </div>
        </div>

    </div>

    <div class="input-group col-12 mb-3">
        <input type="text" class="form-control" id="TxtCorreo" onkeyup="Login.ValidarTexto('Re');" placeholder="Correo">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fa fa-envelope"></span>
            </div>
        </div>
    </div>

    <div class="input-group col-12 mb-3">
        <input type="text" class="form-control" id="TxtUsuario" onkeyup="Login.ValidarTexto('Re');" placeholder="Usuario">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fa fa-user"></span>
            </div>
        </div>
    </div>

    <div class="input-group col-12 mb-3">
        <input type="password" class="form-control" id="TxtContraseña" onkeyup="Login.ValidarTexto('Re');" placeholder="Contraseña">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>

    <!-- /.col -->
</div>

<div class="row justify-content-center">

    <div class="col-5" id="btnFail">
        <button type="submit" class="btn btn-primary btn-block">Continuar</button>
    </div>
    <div class="col-5 btnDisable" id="BtnOk">
        <button type="submit" onclick="Login.validarUsuario();" class="btn btn-primary-ok btn-block">Continuar</button>
    </div>
    <div class="col-5 btnDisable" id="BtnRegistro">
        <button type="submit" onclick="Login.RegistroUsuario();" class="btn btn-primary-ok btn-block">Continuar</button>
    </div>


    <!-- /.col -->
</div>

@*<div class="social-auth-links text-center mt-2 mb-3">
        <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
        </a>
    </div>*@
<!-- /.social-auth-links -->
