<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in (v2)</title>
    <!-- Google Font: Source Sans Pro -->
    <!-- Font Awesome -->
    <link href="~/Content/plugins/fontawesome-free/css/all.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">*@
    <!-- icheck bootstrap -->
    <link href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">*@
    <!-- Theme style -->
    <link href="~/dist/css/adminlte.css" rel="stylesheet" />
    <link href="~/dist/custom/Login.css" rel="stylesheet" />
    <!-- jquery -->
    <script src="~/Content/js/jquery-3.5.1.min.js"></script>
    <script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
</head>
<body class="hold-transition login-page">

   

    <div class="login-box">

        <!-- /.login-logo  card-outline-->
        <div class="card  card-primary">

            <div class="modal fade bd-example-modal-md" data-backdrop="static" data-keyboard="false" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-sm">

                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-primary-egress" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                </div>
            </div>


            <div class="card-header text-center" style="background-color: #033275; padding: 0px !important;">
                <div class="col-xl-12">

                    <img src="~/Content/images/login/Logo_Completo.svg" style="width: 50%; height: 50%;" />
                </div>
                @*<a href="../../index2.html" class="h1"><b>Admin</b>LTE</a>*@
            </div>
            <div class="card-body" id="ContentLogin">
                @RenderBody()
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login Js -->
    <script src="~/Content/Scripts/LoginScrpts.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>


    <form action="../../Cliente/Cliente/Index" id="FrmSiguiente" method="post">
        <input type="text" name="TxtUserFrm" style="display:none" id="TxtUserFrm" value="" />
    </form>

</body>
</html>


