<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in (v2)</title>
    <!-- Google Font: Source Sans Pro -->
    <!-- Font Awesome -->
    <link href="~/Content/plugins/fontawesome-free/css/all.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">*@
    <!-- icheck bootstrap -->
    <link href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">*@
    <!-- Theme style -->
    <link href="~/dist/css/adminlte.css" rel="stylesheet" />
    <link href="~/dist/custom/Login.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo  card-outline-->
        <div class="card  card-primary">
            <div class="card-header text-center" style="background-color: #033275; padding: 0px !important;">
                <div class="col-xl-12">

                    <img src="~/Content/images/login/Logo_Completo.svg" style="width: 50%; height: 50%;" />
                </div>
                @*<a href="../../index2.html" class="h1"><b>Admin</b>LTE</a>*@
            </div>
            <div class="card-body" id="ContentLogin">
                @RenderBody()
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login Js -->
    <script src="~/Content/Scripts/LoginScrpts.js"></script>
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
</body>
</html>


